<!DOCTYPE html>
<html>
<head>
    <title>Hava Durumu Uygulaması</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{{ url_for('index') }}">Ana Sayfa</a></li>
            <li><a href="{{ url_for('forecast_page') }}">Hava Durumu Analiz Tabloları</a></li> {# Yeni bağlantı #}
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %} {# İçerik buraya gelecek #}
    </main>
</body>
</html>